body { 
    padding-top: 70px;
    margin: 0;
    min-height: 100%;
}

html {
  height: 100%;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}
div.row {
    background-color: rgba(255, 255, 255, 0.5);
}
.footer {
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
  color: grey;
}
div.bg-container{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}
div.landing-bg{
    position: absolute;
    left:-20px;
    right:-20px;
    top:-20px;
    bottom:-20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: background-image 20s linear;
    transition: background-image 20s linear;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

div.pokemon-list>div {
    min-height:60px;
    padding-top: 10px;
}

div.pokemon-list>div:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.9);
}
div.pokemon-list>div:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.7);
}

div.pokemon-list div.pokemon-name {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

div.pokemon-list div.pokemon-type {
    margin-top: 5px;
}

div.sprite {
    position: relative;
    width: 100%;
}
div.sprite > img {
    max-height: 50px;
    max-width: 50px;
    display: block;
    margin: 0 auto;
}
div.sprite > p {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    opacity: 0.1;
    z-index: 0;
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.2s;
    -webkit-transition-duration: 0.5s;
}
div.sprite:hover > p {
    z-index: 1000;
    opacity: 0.8;
}
img.seen {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
img.unseen {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img.egg-icon {
    height: 16px;
}

.label-poison {
    background-color: mediumpurple;
}
.label-water,
.label-europe {
    background-color: dodgerblue;
}
.label-normal,
.label-not-available,
.label-evolution {
    background-color: darkgray;
}
.label-flying {
    background-color: lightskyblue;
}
.label-grass,
.label-australia {
    background-color: yellowgreen;
}
.label-ground {
    background-color: saddlebrown;
}
.label-psychic {
    background-color: rebeccapurple;
}
.label-fire,
.label-north-america {
    background-color: firebrick;
}
.label-bug {
    background-color: seagreen;
}
.label-rock,
.label-egg {
    background-color: dimgrey;
}
.label-electric,
.label-asia {
    background-color: gold;
}
.label-fighting {
    background-color: darkred;
}
.label-fairy {
    background-color: hotpink;
}
.label-ice {
    background-color: blue;
}
.label-ghost {
    background-color: lightslategray;
}
.label-dragon {
    background-color: darkslategray;
}
.label-steel {
    background-color: lightsteelblue;
}
.label-dark {
    background-color: black;
}

div.pokemon-list .progress {
    margin-top: 5px;
    height: 16px;
    font-weight: bold;
    font-size: 75%;
}