<div id='map' class="animated fadeIn" ng-if="render.map" ng-init='mapInit();'></div>

<div class='loading-icon' ng-if="render.spin">
    <div style="width:100%;height:100%;position:relative;">
        <img style="position:fixed;opacity:.8;left:32px;bottom:32px;width:64px;height:64px;" src="assets/images/map/spinner.gif">
    </div>
</div>

<div ng-if="render.map" class="map-pokedex animated fadeIn hidden-xs" ng-controller="pokedexController">
    <div class="row white z-depth-2">
        <div class="input-group col l12 m12 s12 hoverable">
            <input id="search-input" placeholder="Search Pokédex" type="text" ng-model="query" style="font-family:Arial, FontAwesome"
                ng-focus="querying=true" ng-blur="querying=false">
            <div class="input-group-addon grey-text"><i class="fa fa-search"></i></div>
            
        </div>
    </div>

    <div class="row pokemon-item valign-wrapper white z-depth-2" ng-if="querying" ng-repeat="p in pokemon | filter:{keywords:query} | orderBy:'id' track by p.id">
        <div class="col s4 sprite">
            <img src="{{p.img}}" class="img-responsive {{(p.registered)?'seen':'unseen'}}" ng-click="(p.registered)?deregister(p):register(p);">
        </div>
        <div class="col s8">
            <div class="col s12 pokemon-name">
                <div>{{p.id | pokeidx}} {{ p.name }}</div>
            </div>
            <div class="col s12">
                <div class="pull-left" ng-repeat="type in p.type"><span class="label label-{{type | lowercase}}">{{type}}</span>&nbsp;</div>
                <div class="pull-left" ng-if="p.egg"><span class="label label-egg"><img src="assets/images/pokemons/000.png" class="egg-icon-xs">&nbsp;{{ p.egg }}km</span>&nbsp;</div>
                <div class="pull-left" ng-if="p.location"><span class="label label-{{p.location | lowercase | spaceless}}"><i class="fa fa-map-marker"></i>&nbsp;{{p.location}}</span>&nbsp;</div>
            </div>
            <div class="col s12">
                <div class="progress progress-striped" ng-click="showModel(p);">
                    <div ng-if="p.candy_amount!==undefined && p.candy_count" class="progress-bar label-{{p.type[0] | lowercase}}" role="progressbar"
                        style="width:{{p.candy_amount/p.candy_count*100|progress}}%"></div>
                    <div ng-if="p.candy_amount!==undefined && p.candy_count" class="pull-right">{{p.candy_amount}}/{{p.candy_count}}&nbsp;</div>
                    <div ng-if="p.candy_amount!==undefined && !p.candy_count" class="progress-bar label-{{p.type[0] | lowercase}}" role="progressbar"
                        style="width:{{p.candy_amount*100|progress}}%"></div>
                    <div ng-if="p.candy_amount!==undefined && !p.candy_count" class="pull-right">{{p.candy_amount}}&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pokemon-item valign-wrapper grey-text white z-depth-2" ng-if="(pokemon | filter:{keywords:query}).length===0"
        style="height:200px;">
        <div class="col s12">
            <h5 class="center">No sightings yet.</h5>
            <h5 class="center"><i class="fa fa-search"></i></h5>
        </div>
    </div>

</div>