* {
    font-family:Arial, FontAwesome;
}
body {
    margin: 0;
    min-height: 100%;
    position: relative;
    padding-bottom: 200px;
}

html {
  height: 100%;
}
div.navbar-fixed{
    margin-bottom: 120px;
}

body > div.container > div.row{
    padding: 10px 10px 10px 10px;
}

div.bg-container{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}
div.landing-bg{
    position: absolute;
    left:-10px;
    right:-10px;
    top:-10px;
    bottom:-10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: background-image 10s linear 5s;
    transition: background-image 10s linear 5s;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

a.brand-logo:hover img {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

ul#dropdown.dropdown-content {
    margin-top:51px;
    background-color:#F7E58F;
}
ul#dropdown.dropdown-content a:hover,
ul#dropdown.dropdown-content li:hover
 {
    background:#E7D57F;
}
ul#dropdown.dropdown-content a {
    color: #D3C16F;
    font-weight: bold;
    text-align: center;
}
div.pokemon-item div.pokemon-name {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

div.sprite > img {
    max-height: 80px;
    max-width: 120px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

img.seen {
    -webkit-filter: contrast(1);
    filter: contrast(1);
    opacity: 1;
}
img.unseen {
    -webkit-filter: contrast(0);
    filter: contrast(0);
    opacity: 0.5;
}

img.egg-icon {
    height: 25px;
}
img.egg-icon-xs {
    height: 14px;
}
img.pikachu-icon {
    height: 18px;
}
img.pokeball-icon {
    height: 18px;
}
img.incubator-icon {
    height: 20px;
}

span.label {
    border-radius: 10px;
}
.label-poison,
input.label-poison::-webkit-slider-thumb,
input.label-poison +.thumb {
    background-color: mediumpurple;
}
.label-water,
.label-europe,
input.label-water::-webkit-slider-thumb,
input.label-water +.thumb {
    background-color: dodgerblue;
}
.label-normal,
.label-unavailable,
.label-evolution,
input.label-normal::-webkit-slider-thumb,
input.label-normal +.thumb {
    background-color: darkgray;
}
.label-flying,
input.label-flying::-webkit-slider-thumb,
input.label-flying +.thumb {
    background-color: lightskyblue;
}
.label-grass,
.label-australia,
.label-strengths,
input.label-grass::-webkit-slider-thumb,
input.label-grass +.thumb  {
    background-color: yellowgreen;
}
.label-ground,
input.label-ground::-webkit-slider-thumb,
input.label-ground +.thumb {
    background-color: saddlebrown;
}
.label-psychic,
input.label-psychic::-webkit-slider-thumb,
input.label-psychic +.thumb {
    background-color: rebeccapurple;
}
.label-fire,
.label-north-america,
input.label-fire::-webkit-slider-thumb,
input.label-fire +.thumb {
    background-color: firebrick;
}
.label-bug,
input.label-bug::-webkit-slider-thumb,
input.label-bug +.thumb {
    background-color: seagreen;
}
.label-rock,
.label-egg,
input.label-rock::-webkit-slider-thumb,
input.label-rock +.thumb {
    background-color: dimgrey;
}
.label-electric,
.label-asia,
input.label-electric::-webkit-slider-thumb,
input.label-electric +.thumb {
    background-color: gold;
}
.label-fighting,
input.label-fighting::-webkit-slider-thumb,
input.label-fighting +.thumb {
    background-color: darkred;
}
.label-ice,
input.label-ice::-webkit-slider-thumb,
input.label-ice +.thumb {
    background-color: blue;
}
.label-ghost,
input.label-ghost::-webkit-slider-thumb,
input.label-ghost +.thumb {
    background-color: lightslategray;
}
.label-dragon,
input.label-dragon::-webkit-slider-thumb,
input.label-dragon +.thumb {
    background-color: darkslategray;
}
.label-steel,
input.label-steel::-webkit-slider-thumb,
input.label-steel +.thumb {
    background-color: lightsteelblue;
}
.label-dark,
input.label-dark::-webkit-slider-thumb,
input.label-dark +.thumb {
    background-color: darkgrey;
}
.label-weaknesses,
.label-fairy,
input.label-fairy::-webkit-slider-thumb,
input.label-fairy +.thumb {
    background: lightcoral;
}

div.pokemon-item .progress {
    border-radius: 8px;
    margin-top: 5px;
    height: 16px;
    font-weight: bold;
    font-size: 75%;
    background-color: #f5f5f5
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  min-width: 40px;
}
input {
    margin: 0 0 0 0 !important;
    border: none !important;
}
input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.input-group-addon {
  border-radius: 0;
  border: none;
  background-color: white;
}

.btn {
    border-radius: 0;
}

#map {
        position: absolute;
        top: 56px;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    
    @media only screen and (min-width: 601px) {
        #map {
            top: 64px;
        }
    }
    
    .loading-icon {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    
    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    
    .gm-style-iw h4,
    .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    
    .gm-style-iw a {
        color: #4272db;
    }

    .modal-content {
        -webkit-box-shadow: none;
        box-shadow: none;
    }