<div class="jumbotron text-center">
    <h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1>
</div>
<!-- TODO LIST -->
<div id="todo-list" class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <!-- LOOP OVER THE TODOS IN $scope.todos -->
        <div class="checkbox" ng-repeat="todo in todos">
            <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
                    </label>
        </div>
    </div>
</div>
<!-- FORM TO CREATE TODOS -->
<div id="todo-form" class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center">
        <form>
            <div class="form-group">
                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever"
                    ng-model="formData.text">
            </div>
            <!-- createToDo() WILL CREATE NEW TODOS -->
            <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
        </form>
    </div>
</div>
<!-- TODO LIST -->
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group btn-group-sm" data-toggle="buttons" ng-init="sortBy = 'id'">
            <label class="btn btn-default {{ (sortBy == 'id')? 'active':'' }}">
            <input type="radio" ng-model="sortBy" value="id" name="options" id="option1">#</label>
            <label class="btn btn-default {{ (sortBy == 'name')? 'active':'' }}">
            <input type="radio" ng-model="sortBy" value="name" name="options" id="option2">A-Z</label>
            <label class="btn btn-default {{ (sortBy == '-egg')? 'active':'' }}">
            <input type="radio" ng-model="sortBy" value="-egg" name="options" id="option3">Egg</label>
            <label class="btn btn-default {{ (sortBy == '-egg')? 'active':'' }}">
            <input type="radio" ng-model="sortBy" value="-egg" name="options" id="option3">CP</label>
            <label class="btn btn-default {{ (sortBy == '-egg')? 'active':'' }}">
            <input type="radio" ng-model="sortBy" value="-egg" name="options" id="option3">Collection</label>
        </div>
    </div>



    <div class="col-xs-12 pokedex-list">
        <div class="col-xs-12" ng-repeat="p in pokedex | orderBy:sortBy">
            <div class="col-xs-1">
                <div class="sprite">
                    <p>{{ p.id | pokeidx }}</p>
                    <img src="{{p.img}}" class="img-responsive unseen">
                </div>
            </div>
            <div class="col-xs-2">
                <div class="col-xs-12 pokemon-name">
                    {{ p.name }}
                </div>
                <div ng-if="p.next_evolution.length" class="col-xs-12">
                    <div class="pull-left"><i class="fa {{(p.next_evolution.length >1)?'fa-reply-all':'fa-reply' }} fa-fw fa-rotate-180" aria-hidden="true"></i></div>
                    <div class="pull-left" ng-repeat="n in p.next_evolution">&nbsp;<span class="label label-evolution">{{n | pokeidx}}</span></div>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="col-xs-12 pokemon-type">
                    <div class="pull-left" ng-repeat="type in p.type"><span class="label label-{{type | lowercase}}">{{type}}</span>&nbsp;</div>
                    <div class="pull-left"><i class="fa fa-angle-double-left fa-fw" aria-hidden="true"></i></div>
                    <div class="pull-left" ng-repeat="type in p.weaknesses">&nbsp;<span class="label label-{{type | lowercase}}">{{type}}</span></div>
                    <div class="pull-right" ng-if="p.egg">&nbsp;<span class="label label-egg"><img src="assets/pokemons/000.png" class="egg-icon"> {{ p.egg }}km</span></div>
                    <div class="pull-right" ng-if="p.location"><span class="label label-{{p.location | lowercase | spaceless}}"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;{{p.location}}</span></div>
                </div>
                <div class="col-xs-12">
                    <div class="progress progress-striped">
                        <div ng-if="p.candy_count" class="progress-bar label-{{p.type[0] | lowercase}}" role="progressbar" style="width:{{3/p.candy_count*100}}%">
                        </div>
                        <div ng-if="p.candy_count" class="pull-right">3/{{p.candy_count}}&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>